p {

    text-align: center;
    font-family:  sans-serif;

}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;

}